doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title The Otherside
    link(rel="stylesheet", href="css/style.css")
    link(link href="https://fonts.googleapis.com/css?family=Playfair+Display", rel="stylesheet")
  
  body
    div(class="nav")
      h1 THE OTHERSIDE
      ul
        li CLIMATE CHANGE
        li VACCINATION
        li ECONOMICS
      
      div(class="nav-bar-toggle")
      
    div(class="responsive-menu")
      ul(id="dropdown")
        li(id="items") CLIMATE CHANGE
        li(id="items") VACCINATION
        li(id="items") ECONOMICS
                    
    div(class="container")
      h2 Climate Change
      p(id="summary") Any long term change in climate at a regional or global level, primarily average temperature, sea level, rainfall, and extreme weather event patterns.
      
    div(class="argument-container-max")
      h3 FOR
        p(id="text") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      h3 AGAINST
        p(id="text") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
    div(class="argument-container-min")
      h3 FOR
      p(id="text") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      h3 AGAINST
      p(id="text") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  

      script(type="text/javascript" src="jquery-3.1.1.min.js")
      script(type="text/javascript" src="script.js")
